# Ignore auxiliary LaTeX files
*.aux
*.bbl
*.blg
*.log
*.out

# Ignore main LaTeX output
*.pdf

# Ignore Eclipse configuration files
.settings/
.classpath
.project

# Ignore Eclipse output directory
bin/

# Ignore miscellaneous work files
_resources/
quizzes/
